* {
  font-family: "Manrope", serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FAFBFF;
}

.hero-section {
  height: 80vh;
  padding: 0 10%;
  position: relative;
}
.hero-section .hero-wrapper {
  width: 50%;
  max-width: 500px;
  padding: 100px 0;
}
.hero-section .hero-wrapper .call-to-action-wrapper {
  display: flex;
  align-items: center;
  gap: 2em;
}
.hero-section .hero-wrapper .call-to-action-wrapper .get-started-button {
  background-color: #3734A9;
  color: #FFFFFF;
  padding: 0.5em 2em;
  border-radius: 2em;
}
.hero-section .hero-wrapper .call-to-action-wrapper .tutorial-button span {
  background-color: #22D497;
  padding: 0.5em 1em;
  border-radius: 50%;
}
.hero-section .hero-wrapper .call-to-action-wrapper .tutorial-button a {
  color: #3734A9;
}
.hero-section .hero-wrapper .features-list {
  list-style-type: none;
}
.hero-section .hero-wrapper .features-list li::before {
  list-style-type: none;
}
.hero-section .hero-wrapper .features-list li::before::before {
  content: url("../../assets/icons/checkmark-icon.svg");
  display: inline-flex;
  background: #3734A9;
  border-radius: 50%;
  width: 1.3em;
  height: 1.3em;
  justify-content: center;
  align-items: center;
  margin-right: 0.5em;
}
.hero-section .decorations {
  background: linear-gradient(292.12deg, #62BADA -35.02%, #C9E7F2 78.96%);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: -1;
  bottom: 0;
}
.hero-section .decorations .hand-and-stamp {
  width: 25%;
  height: 70%;
  position: absolute;
  bottom: 0;
  right: 20%;
}
.hero-section .decorations .hand-and-stamp img {
  position: absolute;
  height: 100%;
  bottom: 0;
}
.hero-section .decorations .hand-and-stamp #left-hand {
  left: 0%;
}
.hero-section .decorations .hand-and-stamp #right-hand {
  right: 0%;
  bottom: 0em;
}
.hero-section .decorations .hand-and-stamp #stamp {
  height: 60%;
  top: 0;
}

.main-nav-section {
  position: fixed;
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: 0 10%;
  top: 2em;
  z-index: 10;
}
.main-nav-section .main-nav-auth a {
  text-decoration: none;
  padding: 1em 2em;
}
.main-nav-section .main-nav-auth .sign-in-button {
  color: #000000;
}
.main-nav-section .main-nav-auth .start-free-button {
  color: #FFFFFF;
  background: #3734A9;
}

.companies-section {
  text-align: center;
  background-color: #F5F6F8;
  padding: 4em 10%;
  font-size: 1.2em;
}
.companies-section .companies-list {
  display: flex;
  justify-content: center;
  gap: 3em;
  overflow: auto;
  margin: 1em 0;
}

.services-section .services-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10%;
}
.services-section .services-heading .service-introduction {
  width: 40%;
}
.services-section .services-heading .service-introduction h2 {
  font-size: 56px;
}
.services-section .services-heading .service-testimonial {
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: #C4C4C4;
  width: 400px;
  padding: 3em 2em 2em;
  border-radius: 20px;
  position: relative;
}
.services-section .services-heading .service-testimonial::before {
  content: url("./assets/icons/quotes.svg");
  background: black;
  display: inline-flex;
  position: absolute;
  width: 3em;
  height: 3em;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  top: -1.3em;
  left: 2em;
}
.services-section .service-value-prop {
  display: flex;
  justify-content: space-between;
  margin: 10%;
  gap: 3em;
}
.services-section .service-value-prop .service-value {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #FFFFFF;
  min-height: 200px;
  padding: 2em 4em;
  gap: 1em;
  border: 1px solid #DBE4E9;
  border-radius: 16px;
  position: relative;
}
.services-section .service-value-prop .service-value span {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  top: 10px;
  left: 10px;
}
.services-section .service-value-prop .service-value img {
  width: 0 40px;
  margin: 2em auto;
}
.services-section .service-value-prop .service-value h3 {
  font-size: 25px;
}
.services-section .unique-selling-point {
  display: flex;
  margin: 10%;
  justify-content: space-between;
  align-items: center;
}
.services-section .unique-selling-point article {
  width: 50%;
}
.services-section .unique-selling-point .overline-header {
  color: #3734A9;
}
.services-section .unique-selling-point .selling-point-header {
  font-size: 50px;
}
.services-section .unique-selling-point .selling-point-description {
  color: #64607D;
  margin: 2em 0 1em;
}
.services-section .unique-selling-point .selling-point-features {
  margin: 1em 0;
}
.services-section .unique-selling-point .selling-point-features li {
  margin: 0.5em 0;
  list-style-type: none;
}
.services-section .unique-selling-point .selling-point-features li::before {
  content: url("../../assets/icons/checkmark-icon.svg");
  display: inline-flex;
  background: #3734A9;
  border-radius: 50%;
  width: 1.3em;
  height: 1.3em;
  justify-content: center;
  align-items: center;
  margin-right: 0.5em;
}
.services-section .unique-selling-point .selling-point-features li::before {
  background: #FDBC64;
}
.services-section .unique-selling-point .service-testimonial {
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: #C4C4C4;
  width: 400px;
  padding: 3em 2em 2em;
  border-radius: 20px;
  position: relative;
}
.services-section .unique-selling-point .service-testimonial::before {
  content: url("./assets/icons/quotes.svg");
  background: black;
  display: inline-flex;
  position: absolute;
  width: 3em;
  height: 3em;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  top: -1.3em;
  left: 2em;
}

.features-section {
  background: #C9E7F2;
  padding: 3em 10%;
}
.features-section h2 {
  font-size: 50px;
  margin-bottom: 10px;
}
.features-section .feature-wrapper {
  display: flex;
  gap: 1.5em;
  margin: 30px 0;
}
.features-section .feature-wrapper .feature-sub-section {
  flex: 1;
}
.features-section .feature-wrapper .feature-card {
  background: #FFFFFF;
  padding: 2.5em 1.5em;
  border-radius: 5px;
  display: flex;
  gap: 1em;
  flex-direction: column;
}
.features-section .feature-wrapper .feature-card img {
  width: 50px;
}
.features-section .feature-wrapper .feature-no-img {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5em;
}

.testimonials {
  margin: 50px 10%;
}
.testimonials h2 {
  font-size: 50px;
}
.testimonials .testimonial-wrapper {
  display: flex;
  gap: 1em;
  margin: 50px 0;
}
.testimonials .testimonial-wrapper .testimonial-card {
  display: flex;
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: #C4C4C4;
  width: 400px;
  padding: 3em 2em 2em;
  border-radius: 20px;
  position: relative;
  flex-direction: row;
  width: -moz-fit-content;
  width: fit-content;
  height: 300px;
  background-color: #FFFFFF;
  border: 1px solid #C4C4C4;
}
.testimonials .testimonial-wrapper .testimonial-card::before {
  content: url("./assets/icons/quotes.svg");
  background: black;
  display: inline-flex;
  position: absolute;
  width: 3em;
  height: 3em;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  top: -1.3em;
  left: 2em;
}
.testimonials .testimonial-wrapper .testimonial-card .testimonial-script {
  font-size: 1.1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.testimonials .testimonial-wrapper .testimonial-card img {
  height: 100%;
  width: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=style.css.map */