* {
  font-family: "Manrope", serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FAFBFF;
}

h1 {
  font-size: 60px;
  font-weight: 1000;
}

h2 {
  font-size: 53px;
  font-weight: 1000;
}

h3 {
  font-size: 18px;
}

@media screen and (max-width: 700px) {
  h2 {
    font-size: 35px;
  }
}
.hero-section {
  height: 85vh;
  padding: 0 7%;
  position: relative;
  display: flex;
  overflow: hidden;
}
.hero-section .hero-wrapper {
  flex: 1;
  width: 50%;
  padding: 70px 0 50px;
  margin: auto;
}
.hero-section .hero-wrapper h1 {
  font-size: 53px;
  line-height: 1.2em;
}
.hero-section .hero-wrapper p {
  margin: 1.4em 0;
  color: #64607D;
}
.hero-section .hero-wrapper .call-to-action-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2.5em;
  margin: 3em 0;
}
.hero-section .hero-wrapper .call-to-action-wrapper .get-started-button {
  background-color: #3734A9;
  color: #FFFFFF;
  padding: 1em 2em;
  border-radius: 1.5em;
  cursor: pointer;
  transition: background-color 0.3s;
}
.hero-section .hero-wrapper .call-to-action-wrapper .get-started-button:hover {
  background-color: #4f4bf5;
}
.hero-section .hero-wrapper .call-to-action-wrapper .tutorial-button {
  display: flex;
  align-items: center;
  gap: 0.5em;
  position: relative;
  cursor: pointer;
}
.hero-section .hero-wrapper .call-to-action-wrapper .tutorial-button::after {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  position: absolute;
  left: 0;
  width: 0;
  height: 3em;
  width: 3em;
  background-color: #22D497;
  white-space: nowrap;
  overflow: hidden;
  color: #FFFFFF;
  opacity: 0;
}
.hero-section .hero-wrapper .call-to-action-wrapper .tutorial-button:hover::after {
  content: "See How it Works";
  width: 100%;
  opacity: 1;
  border-radius: 20px;
}
.hero-section .hero-wrapper .call-to-action-wrapper .tutorial-button span {
  width: 3em;
  height: 3em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #22D497;
}
.hero-section .hero-wrapper .call-to-action-wrapper .tutorial-button span img {
  height: 50%;
}
.hero-section .hero-wrapper .call-to-action-wrapper .tutorial-button a {
  color: #3734A9;
}
.hero-section .hero-wrapper .features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}
.hero-section .hero-wrapper .features-list li {
  color: #64607D;
  list-style-type: none;
}
.hero-section .hero-wrapper .features-list li::before {
  content: url("../../assets/icons/checkmark-icon.svg");
  display: inline-flex;
  background: #3734A9;
  border-radius: 50%;
  width: 1.3em;
  height: 1.3em;
  justify-content: center;
  align-items: center;
  margin-right: 0.5em;
}
@media screen and (max-width: 540px) {
  .hero-section .hero-wrapper h1 {
    font-size: 36px;
  }
  .hero-section .hero-wrapper .call-to-action-wrapper {
    gap: 1em;
    margin: 1.5em 0;
    font-size: 0.8em;
  }
  .hero-section .hero-wrapper .features-list {
    font-size: 0.8em;
  }
}
.hero-section .decorations {
  flex: 1;
}
.hero-section .decorations .hand-and-stamp {
  position: relative;
  height: 100%;
  aspect-ratio: 1/2;
}
.hero-section .decorations .hand-and-stamp * {
  position: absolute;
}
.hero-section .decorations .hand-and-stamp img {
  transition: 0.3s;
  cursor: pointer;
}
.hero-section .decorations .hand-and-stamp img:hover {
  transform: scale(1.02);
}
.hero-section .decorations .hand-and-stamp #left-hand {
  height: 100%;
  left: 0;
  bottom: -15%;
}
.hero-section .decorations .hand-and-stamp #right-hand {
  height: 85%;
  left: 12%;
  bottom: -18%;
}
.hero-section .decorations .hand-and-stamp #stamp-border {
  height: 50%;
  top: 6%;
  left: 15%;
}
.hero-section .decorations .hand-and-stamp #stamp-cover {
  height: 15%;
  top: 23%;
  left: 51%;
}
.hero-section .decorations .hand-and-stamp #stamp-logo {
  height: 7%;
  top: 27%;
  left: 58%;
}
.hero-section .decorations .hand-and-stamp #doodle {
  height: 15%;
  top: 65%;
  left: 50%;
}
@media screen and (max-width: 920px) {
  .hero-section .decorations {
    display: none;
  }
}
.hero-section .doodle-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(292.12deg, #62BADA -35.02%, #C9E7F2 78.96%);
  z-index: -1;
}
.hero-section .doodle-container img {
  position: absolute;
}
.hero-section .doodle-container .doodle-1 {
  height: 50%;
  right: 0;
  bottom: -24%;
}
.hero-section .doodle-container .doodle-2 {
  height: 17%;
  left: 0;
  bottom: 10%;
}
.hero-section .doodle-container .doodle-3 {
  height: 17%;
  right: 0;
  top: 15%;
}

.main-nav-section {
  position: fixed;
  display: flex;
  width: 100%;
  padding: 2em 7%;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}
.main-nav-section h1 {
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 1000;
}
.main-nav-section .main-nav-links {
  display: flex;
  gap: 1em;
  font-weight: 400;
}
.main-nav-section .main-nav-links span {
  cursor: pointer;
}
.main-nav-section .main-nav-links span::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  margin: auto;
  background-color: black;
  transition: 0.3s;
}
.main-nav-section .main-nav-links span:hover::after {
  width: 90%;
}
.main-nav-section .main-nav-links span img {
  padding: 2px 5px;
}
@media screen and (max-width: 850px) {
  .main-nav-section .main-nav-links {
    display: none;
  }
}
.main-nav-section .main-nav-auth a {
  text-decoration: none;
  padding: 1em 2em;
  display: inline-block;
}
.main-nav-section .main-nav-auth .sign-in-button {
  color: #000000;
  transition: background-color 0.3s;
}
.main-nav-section .main-nav-auth .sign-in-button:hover {
  background-color: #F5F6F8;
}
.main-nav-section .main-nav-auth .start-free-button {
  color: #FFFFFF;
  background-color: #3734A9;
  transition: background-color 0.3s;
}
.main-nav-section .main-nav-auth .start-free-button:hover {
  background-color: #4f4bf5;
}
@media screen and (max-width: 450px) {
  .main-nav-section .main-nav-auth a {
    padding: 0.5em;
  }
}

.companies-section {
  text-align: center;
  background-color: #F5F6F8;
  padding: 2.4em 0;
  font-size: 22px;
  font-weight: 500;
}
.companies-section .companies-list {
  display: flex;
  overflow: auto;
  gap: 2em;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 100%;
  margin: 1.2em auto 0;
  padding: 1em;
}
.companies-section p {
  font-size: 18px;
}

.services-section {
  display: flex;
  flex-direction: column;
  gap: 7rem;
}
.services-section .services-heading {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin: 0 7%;
}
.services-section .services-heading .service-introduction {
  width: 40%;
}
.services-section .services-heading .service-introduction h2 {
  line-height: 1.1em;
}
.services-section .services-heading .service-introduction p {
  margin-top: 1.5em;
}
.services-section .services-heading .service-testimonial {
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: #eaebee;
  max-width: 500px;
  width: 100%;
  padding: 3em 1.5rem 1.5rem;
  font-weight: bold;
  border-radius: 20px;
  position: relative;
  transition: 0.3s;
  cursor: pointer;
}
.services-section .services-heading .service-testimonial:hover {
  transform: scale(1.02);
}
.services-section .services-heading .service-testimonial::before {
  content: url("./assets/icons/quotes.svg");
  background: black;
  display: inline-flex;
  position: absolute;
  width: 3em;
  height: 3em;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  top: -1.3em;
  left: 1.5rem;
}
@media screen and (max-width: 850px) {
  .services-section .services-heading {
    flex-direction: column;
  }
  .services-section .services-heading .service-introduction {
    width: 100%;
  }
}
.services-section .service-value-prop {
  display: flex;
  justify-content: space-between;
  margin: 0 7%;
  gap: 3em;
}
.services-section .service-value-prop .service-value {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #FFFFFF;
  min-height: 200px;
  padding: 2em 1.5rem 3em;
  gap: 1em;
  border: 1px solid #DBE4E9;
  border-radius: 16px;
  position: relative;
  transition: 0.3s;
  cursor: pointer;
}
.services-section .service-value-prop .service-value:hover {
  transform: scale(1.02);
}
.services-section .service-value-prop .service-value span {
  position: absolute;
  font-size: 20px;
  font-weight: 800;
  top: 10px;
  left: 10px;
}
.services-section .service-value-prop .service-value img {
  width: 0 40px;
  margin: 2em auto 1em;
}
.services-section .service-value-prop .service-value p {
  color: #64607D;
}
.services-section .service-value-prop .service-value h3 {
  font-size: 30px;
  line-height: 34px;
}
@media screen and (max-width: 850px) {
  .services-section .service-value-prop {
    flex-direction: column;
  }
}
.services-section .unique-selling-point {
  display: flex;
  gap: 2em;
  margin: 0 7%;
  justify-content: space-between;
}
.services-section .unique-selling-point article {
  width: 45%;
  margin-top: 1em;
}
.services-section .unique-selling-point .overline-header {
  color: #3734A9;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 1em;
}
.services-section .unique-selling-point .selling-point-header {
  font-size: 50px;
  line-height: 60px;
}
.services-section .unique-selling-point .selling-point-description {
  color: #64607D;
  margin: 2em 0 1.5em;
}
.services-section .unique-selling-point .description-2 {
  margin-bottom: 5em;
}
.services-section .unique-selling-point .selling-point-features {
  color: #64607D;
  margin: 2em 0;
}
.services-section .unique-selling-point .selling-point-features li {
  margin: 1em 0;
  list-style-type: none;
}
.services-section .unique-selling-point .selling-point-features li::before {
  content: url("../../assets/icons/checkmark-icon.svg");
  display: inline-flex;
  background: #3734A9;
  border-radius: 50%;
  width: 1.3em;
  height: 1.3em;
  justify-content: center;
  align-items: center;
  margin-right: 0.5em;
}
.services-section .unique-selling-point .selling-point-features li::before {
  background: #FDBC64;
}
.services-section .unique-selling-point .service-testimonial {
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: #eaebee;
  max-width: 500px;
  width: 100%;
  padding: 3em 1.5rem 1.5rem;
  font-weight: bold;
  border-radius: 20px;
  position: relative;
  transition: 0.3s;
  cursor: pointer;
}
.services-section .unique-selling-point .service-testimonial:hover {
  transform: scale(1.02);
}
.services-section .unique-selling-point .service-testimonial::before {
  content: url("./assets/icons/quotes.svg");
  background: black;
  display: inline-flex;
  position: absolute;
  width: 3em;
  height: 3em;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  top: -1.3em;
  left: 1.5rem;
}
.services-section .unique-selling-point .unique-selling-point-img-container-1 {
  position: relative;
}
.services-section .unique-selling-point .unique-selling-point-img-container-1 .content1, .services-section .unique-selling-point .unique-selling-point-img-container-1 .content2, .services-section .unique-selling-point .unique-selling-point-img-container-1 .content3, .services-section .unique-selling-point .unique-selling-point-img-container-1 .content4 {
  position: absolute;
  transition: 0.3s;
  cursor: pointer;
}
.services-section .unique-selling-point .unique-selling-point-img-container-1 .content1:hover, .services-section .unique-selling-point .unique-selling-point-img-container-1 .content2:hover, .services-section .unique-selling-point .unique-selling-point-img-container-1 .content3:hover, .services-section .unique-selling-point .unique-selling-point-img-container-1 .content4:hover {
  transform: scale(1.02);
}
.services-section .unique-selling-point .unique-selling-point-img-container-1 .triangular-dots {
  position: absolute;
  right: -4%;
  top: -3%;
}
.services-section .unique-selling-point .unique-selling-point-img-container-1 .content1 {
  left: 0;
  top: 8%;
}
.services-section .unique-selling-point .unique-selling-point-img-container-1 .content2 {
  left: 18%;
  top: 30%;
}
.services-section .unique-selling-point .unique-selling-point-img-container-1 .content3 {
  left: 10%;
  top: 52%;
}
.services-section .unique-selling-point .unique-selling-point-img-container-1 .content4 {
  left: -8%;
  top: 74%;
}
.services-section .unique-selling-point .unique-selling-point-img-container-2 {
  position: relative;
}
.services-section .unique-selling-point .unique-selling-point-img-container-2 .content-stat {
  position: absolute;
  left: -50%;
  top: 45%;
  transition: 0.3s;
  cursor: pointer;
}
.services-section .unique-selling-point .unique-selling-point-img-container-2 .content-stat:hover {
  transform: scale(1.02);
}
.services-section .unique-selling-point .unique-selling-point-img-container-2 .content-hand {
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.3s;
  cursor: pointer;
  transform-origin: bottom;
}
.services-section .unique-selling-point .unique-selling-point-img-container-2 .content-hand:hover {
  transform: scale(1.02);
}
.services-section .unique-selling-point .unique-selling-point-img-container-2 .slash-pattern {
  position: absolute;
  left: -10%;
  top: 10%;
}
@media screen and (max-width: 1315px) {
  .services-section .unique-selling-point .unique-selling-point-img-container-1, .services-section .unique-selling-point .unique-selling-point-img-container-2 {
    display: none;
  }
  .services-section .unique-selling-point article {
    width: 100%;
  }
}
@media screen and (max-width: 550px) {
  .services-section .unique-selling-point .selling-point-header {
    font-size: 27px;
    line-height: 30px;
  }
}
@media screen and (max-width: 550px) {
  .services-section {
    gap: 3em;
  }
}

.features-section {
  padding: 7rem 7%;
  position: relative;
}
.features-section .doodle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -10;
}
.features-section .doodle img {
  position: absolute;
}
.features-section > p {
  margin: 1.2em 0 2rem;
}
.features-section .feature-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
  margin: 30px 0;
}
.features-section .feature-wrapper .feature-sub-section {
  min-width: 200px;
  flex: 1;
}
.features-section .feature-wrapper .feature-card {
  background-color: #FFFFFF;
  padding: 3em 1.5rem;
  border-radius: 5px;
  display: flex;
  gap: 1em;
  flex-direction: column;
  transition: 0.3s;
  cursor: pointer;
}
.features-section .feature-wrapper .feature-card:hover {
  transform: scale(1.02);
}
.features-section .feature-wrapper .feature-card img {
  width: 50px;
}
.features-section .feature-wrapper .feature-no-img {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5em;
}
.features-section .doodle {
  background-color: #C9E7F2;
}
.features-section .doodle .hyphen-pattern {
  left: 0;
  bottom: 10%;
}

.testimonial-section {
  margin: 0 7%;
  position: relative;
}
.testimonial-section > p {
  margin: 2rem 0;
}
.testimonial-section .testimonial-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  margin: 50px 0 0;
}
.testimonial-section .testimonial-wrapper .testimonial-card {
  display: flex;
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: #eaebee;
  max-width: 500px;
  width: 100%;
  padding: 3em 1.5rem 1.5rem;
  font-weight: bold;
  border-radius: 20px;
  position: relative;
  transition: 0.3s;
  cursor: pointer;
  flex-direction: row;
  width: -moz-fit-content;
  width: fit-content;
  height: 300px;
  max-width: 500px;
  background-color: #FFFFFF;
  border: 1px solid #eaebee;
}
.testimonial-section .testimonial-wrapper .testimonial-card:hover {
  transform: scale(1.02);
}
.testimonial-section .testimonial-wrapper .testimonial-card::before {
  content: url("./assets/icons/quotes.svg");
  background: black;
  display: inline-flex;
  position: absolute;
  width: 3em;
  height: 3em;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  top: -1.3em;
  left: 1.5rem;
}
.testimonial-section .testimonial-wrapper .testimonial-card .testimonial-script {
  flex: 2;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.testimonial-section .testimonial-wrapper .testimonial-card .testimonial-script p {
  max-height: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 5;
}
.testimonial-section .testimonial-wrapper .testimonial-card .testimonial-img {
  flex: 1;
}
.testimonial-section .testimonial-wrapper .testimonial-card .testimonial-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 500px) {
  .testimonial-section .testimonial-wrapper .testimonial-card p {
    font-size: 0.7em;
  }
}
.testimonial-section .doodle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -10;
}
.testimonial-section .doodle img {
  position: absolute;
}
.testimonial-section .doodle .orange-wave {
  right: 10%;
}

.statistic-section {
  color: #FFFFFF;
  padding: 0 7%;
  display: flex;
  position: relative;
}
.statistic-section .doodle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -10;
}
.statistic-section .doodle img {
  position: absolute;
}
.statistic-section .statistic-label {
  display: flex;
  align-items: center;
  padding-right: 2em;
  width: 13em;
  border-right: 2px solid gray;
}
.statistic-section .statistic-label h2 {
  font-size: 16px;
  font-weight: normal;
}
.statistic-section .statistics-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 4em;
  width: 100%;
  padding: 40px 0;
}
.statistic-section .statistics-container article {
  transition: 0.3s;
  cursor: pointer;
}
.statistic-section .statistics-container article:hover {
  transform: scale(1.02);
}
.statistic-section .statistics-container article h3 {
  font-size: 70px;
  font-weight: 1000;
}
.statistic-section .statistics-container article p {
  font-size: 25px;
  font-weight: 200;
}
.statistic-section .statistics-container article p img {
  height: 0.8em;
  margin-right: 10px;
}
.statistic-section .doodle {
  background-color: #3734A9;
}
.statistic-section .doodle .terrain-doodle {
  right: 0;
  height: 80%;
}
@media screen and (max-width: 1100px) {
  .statistic-section {
    flex-direction: column;
    padding: 7%;
  }
  .statistic-section .statistic-label {
    width: 100%;
    text-align: center;
    border: none;
    padding: 1em 0;
    margin: 0;
  }
  .statistic-section .statistic-label h2 {
    width: 100%;
  }
  .statistic-section .statistics-container {
    margin: 0;
    padding: 0;
    width: auto;
  }
}
@media screen and (max-width: 800px) {
  .statistic-section .statistic-label {
    text-align: left;
  }
  .statistic-section .statistics-container {
    flex-direction: column;
    gap: 2em;
  }
  .statistic-section .statistics-container h3 {
    font-size: 50px !important;
  }
  .statistic-section .statistics-container p {
    font-size: 18px !important;
  }
}

.recent-blog-section {
  margin: 0 7%;
}
.recent-blog-section .blog {
  display: flex;
  flex: 1;
  justify-content: space-between;
  border: 1px solid #F5F6F8;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  background-color: #FFFFFF;
  transition: 0.3s;
  cursor: pointer;
}
.recent-blog-section .blog:hover {
  transform: scale(1.02);
}
.recent-blog-section .blog::before {
  content: "BEST PRACTICES";
  position: absolute;
  left: 1.5rem;
  top: 2rem;
}
.recent-blog-section .blog h3 {
  font-size: 25px;
  margin: 4rem 1.5rem;
}
.recent-blog-section .blog p {
  margin-left: 1.5rem;
}
.recent-blog-section .blog img {
  width: 100%;
  max-width: 500px;
}
.recent-blog-section .featured-blog {
  margin: 2rem 0;
  flex-wrap: wrap;
}
.recent-blog-section .featured-blog img {
  height: 100%;
}
.recent-blog-section .more-blog {
  display: flex;
  gap: 1.5em;
}
.recent-blog-section .more-blog .blog {
  min-width: 200px;
  flex-direction: column;
}
.recent-blog-section .more-blog .blog img {
  width: 100%;
}
@media screen and (max-width: 800px) {
  .recent-blog-section .more-blog {
    flex-direction: column;
  }
}

.faq-section {
  padding: 0 7%;
  position: relative;
  position: relative;
}
.faq-section .doodle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -10;
}
.faq-section .doodle img {
  position: absolute;
}
.faq-section .faq-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 3em;
  margin: 2rem 0 0;
}
.faq-section .faq-wrapper .faq-list {
  display: flex;
  flex-direction: column;
  gap: 1em;
  flex: 3;
  min-width: 60%;
}
.faq-section .faq-wrapper .faq-list .faq {
  border: 1px solid #eaebee;
  border-radius: 10px;
  padding: 1rem 1rem;
  background-color: #FFFFFF;
  cursor: pointer;
  transition: 0.3s;
  cursor: pointer;
}
.faq-section .faq-wrapper .faq-list .faq:hover {
  transform: scale(1.02);
}
.faq-section .faq-wrapper .faq-list .faq p {
  transition: 0.3s;
  height: 0;
  overflow: hidden;
}
.faq-section .faq-wrapper .faq-list .faq h3 {
  display: flex;
  justify-content: space-between;
}
.faq-section .faq-wrapper .faq-list .faq h3::after {
  content: "+";
  font-size: 25px;
}
.faq-section .faq-wrapper .faq-list .faq.active p {
  display: block;
  margin: 10px 0;
  height: 3rem;
}
.faq-section .faq-wrapper .more-qns {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  min-width: 200px;
  justify-content: space-between;
  gap: 1em;
  border: 1px solid #eaebee;
  border-radius: 10px;
  padding: 3em 1.5rem 1em;
  background-color: #FFFFFF;
}
.faq-section .faq-wrapper .more-qns h3 {
  margin: 1em 0;
}
.faq-section .faq-wrapper .more-qns button {
  background: #FF7F5C;
  width: 100%;
  color: #FFFFFF;
  border: none;
  font-size: 16px;
  height: 4em;
  cursor: pointer;
  transition: 0.3s;
}
.faq-section .faq-wrapper .more-qns button:hover {
  background-color: #ff945c;
}
.faq-section .doodle .yellow-x {
  right: 0;
  top: 2em;
}
.faq-section .doodle .blue-spiral {
  left: 0;
  top: 7em;
}

.cta-section {
  color: #FFFFFF;
  text-align: center;
  margin: 0 7%;
  padding: 5em 1.5rem;
  border-radius: 2em;
  position: relative;
  overflow: hidden;
  position: relative;
}
.cta-section .doodle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -10;
}
.cta-section .doodle img {
  position: absolute;
}
.cta-section button {
  background: #FF7F5C;
  color: #FFFFFF;
  border: none;
  font-size: 16px;
  height: 4em;
  padding: 0 3em;
  margin-top: 20px;
  border-radius: 0.75em;
  animation: 0.3s;
  cursor: pointer;
}
.cta-section button:hover {
  background-color: #ff945c;
}
.cta-section .doodle {
  background-color: #3734A9;
}
.cta-section .doodle .zig-zag-horizontal {
  right: 15%;
  top: 10%;
}
.cta-section .doodle .zig-zag-vertical {
  transform: rotateZ(90deg);
  left: 6%;
  bottom: 20%;
}
.cta-section .doodle .dot-grid {
  left: 20%;
  top: 10%;
}
.cta-section .doodle .quarter-circle-small {
  left: 20%;
  bottom: 15%;
}
.cta-section .doodle .quarter-circle-large {
  right: 8%;
  bottom: 10%;
}

main {
  display: flex;
  flex-direction: column;
  gap: 7rem;
}
@media screen and (max-width: 550px) {
  main {
    gap: 5em;
  }
}

.footer {
  margin: 7em 7% 2em;
}
.footer .footer-wrapper {
  display: flex;
  gap: 1em;
  padding: 2em 0;
}
.footer .footer-wrapper h2 {
  font-size: 19px;
  font-weight: 700;
  margin-bottom: 25px;
}
.footer .footer-wrapper p {
  color: #64607D;
  margin: 10px 0;
  font-size: 14px;
}
.footer .footer-wrapper a {
  display: block;
  margin: 10px 0;
  color: #64607D;
  cursor: pointer;
}
.footer .footer-wrapper a:hover {
  font-weight: 500;
}
.footer .footer-wrapper article {
  flex: 1;
}
.footer .footer-wrapper .company-info .social-medias {
  display: flex;
  gap: 0.7em;
  align-items: center;
}
.footer .footer-wrapper .company-info .social-medias a img {
  height: 1em;
  cursor: pointer;
}
.footer .footer-wrapper .newsletter form {
  display: flex;
  margin-bottom: 1em;
  max-width: 300px;
}
.footer .footer-wrapper .newsletter form .newsletter-email {
  background-color: #eeeeff;
  flex: 1;
  border: none;
  padding: 1em;
  outline: none;
}
.footer .footer-wrapper .newsletter form .newsletter-subscribe {
  border: none;
  background-color: #3734A9;
  color: #FFFFFF;
  padding: 1.3em 2em;
}
@media screen and (max-width: 980px) {
  .footer .footer-wrapper {
    flex-direction: column;
  }
}
.footer .copyright {
  text-align: center;
  font-size: 14px;
  border-top: 1px solid #eaebee;
  padding-top: 2em;
}/*# sourceMappingURL=style.css.map */