$master-margin: 5em;
$cta-blue: #3734A9;
$cta-green: #22D497;
$white: #FFFFFF;
$black: #000000;
$gray: #F5F6F8;

* {
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    font-style: normal;
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin checkmark {
    content: url('../../assets/icons/checkmark-icon.svg');
    display: inline-block;
    background: $cta-blue;
    border-radius: 50%;
    width: 1em;
    height: 1em;

}


@import './header/header';
@import './main/main';