@import './companies/companies';
@import './services/services';
@import './features/features';
@import './testimonials/testimonials';
@import './statistics/statistics';
@import './blogs/blog';
@import './faq/faq';
@import './cta/cta';

main {
    display: flex;
    flex-direction: column;
    gap: $section-gap;
}