
.recent-blog-section {
    margin: 0 $master-margin;

    .blog {
        display: flex;
        flex: 1;
        justify-content: space-between;
        border: 1px solid $gray;
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        background-color: $white;
        @include hover-expand();

        &::before {
            content: 'BEST PRACTICES';
            position: absolute;
            left: $secondary-padding-x;
            top: 2rem;
        }

        h3 {
            font-size: 25px;
            margin: 4rem $secondary-padding-x;
        }
        p {
            margin-left: $secondary-padding-x;
        }
        img {
            // height: 100%;
            width: 100%;
            max-width: 500px;
        }
    }

    .featured-blog {
        margin: $sub-section-gap 0;
        flex-wrap: wrap;
        img {
            height: 100%;
        }
    }

    .more-blog {
        display: flex;
        gap: 1.5em;

        .blog {
            min-width: 200px;
            flex-direction: column;
            img {
                width: 100%;
            }
        }

        @media screen and (max-width: 800px) {
            flex-direction: column;            
        }
    }
}