
.hero-section {
    height: 85vh;
    padding: 0 $master-margin;
    position: relative;
    display: flex;
    overflow: hidden;
    // align-items: center;

    .hero-wrapper {
        flex: 1;
        width: 50%;
        padding: 70px 0 50px;
        margin: auto;

        h1 {
            font-size: 53px;
            line-height: 1.2em;
        }
        p {
            margin: 1.4em 0;
            color: $text-gray;
        }

        .call-to-action-wrapper {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 2.5em;
            margin: 3em 0;
            
            .get-started-button {
                background-color: $cta-blue;
                color: $white;
                padding: 1em 2em;
                border-radius: 1.5em;
                cursor: pointer;
                transition: background-color $animation-time;

                &:hover {
                    background-color: $cta-blue-selected;
                }
            }
            
            .tutorial-button {
                display: flex;
                align-items: center;
                gap: 0.5em;
                position: relative;
                cursor: pointer;

                &::after {
                    content: '';
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: $animation-time;
                    position: absolute;
                    left: 0;
                    width: 0;
                    height: 3em;
                    width: 3em;
                    background-color: $cta-green;
                    white-space: nowrap;
                    overflow: hidden;
                    color: $white;
                    opacity: 0;
                }

                &:hover::after {
                    content: "See How it Works";
                    width: 100%;
                    opacity: 1;
                    border-radius: 20px;
                }

                span {
                    width: 3em;
                    height: 3em;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    background-color: $cta-green;
                    
                    img { height: 50%; }

                }
                a {
                    color: $cta-blue;
                }
            }
        }

        .features-list {
            display: flex;
            flex-wrap: wrap;
            gap: 2em;
            li {
                color: $text-gray;
                @include checkmark();
            }
        }

        @media screen and (max-width: 540px) {
            h1 {
                font-size: 36px;
            }
            .call-to-action-wrapper {
                gap: 1em;
                margin: 1.5em 0;
                font-size: 0.8em;
            }
            .features-list {
                font-size: 0.8em;
            }
        }
    }

    .decorations {
        flex: 1;

        .hand-and-stamp {
            position: relative;
            height: 100%;
            aspect-ratio: 1/2;

            * {
                position: absolute;
            }
            #left-hand {
                height: 100%;
                left: 0;
                bottom: -15%;
            }
            #right-hand {
                height: 85%;
                left: 12%;
                bottom: -18%;
            }
            #stamp-border {
                height: 50%;
                top: 6%;
                left: 15%;
            }
            #stamp-cover {
                height: 15%;
                top: 23%;
                left: 51%;
            }
            #stamp-logo {
                height: 7%;
                top: 27%;
                left: 58%;
            }
            #doodle {
                height: 15%;
                top: 65%;
                left: 50%;
            }
        }

        @media screen and (max-width: 920px) {
            display: none;
        }
    }

    .doodle-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(292.12deg, #62BADA -35.02%, #C9E7F2 78.96%);
        z-index: -1;

        img {
            position: absolute;
        }
        .doodle-1 {
            height: 50%;
            right: 0;
            bottom: -24%;
        }
        .doodle-2 {
            height: 17%;
            left: 0;
            bottom: 10%;
        }
        .doodle-3 {
            height: 17%;
            right: 0;
            top: 15%;
        }
    }

}