
.statistic-section {
    color: $white;
    padding: 0 $master-margin;
    display: flex;
    @include doodle-setup();

    .statistic-label {
        display: flex;
        align-items: center;
        padding-right: 2em;
        width: 13em;
        border-right: 2px solid gray;
        
        h2 {
            font-size: 16px;
            font-weight: normal;
        }
    }

    .statistics-container {
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        margin: 0 4em;
        width: 100%;
        padding: 40px 0;
        
        article {
            @include hover-expand();
            
            h3 {
                font-size: 70px;
                font-weight: 1000;
            }
            p {
                font-size: 25px;
                font-weight: 200;
    
                img {
                    height: 0.8em;
                    margin-right: 10px;
                }
            }
        }
    }

    .doodle {
        background-color: $cta-blue;

        .terrain-doodle {
            right: 0;
            height: 80%;
        }
    }


    @media screen and (max-width: 1100px) {
        flex-direction: column;
        .statistic-label {
            width: 100%;
            text-align: center;
            border: none;
            padding: 1em;
            margin: 0;

            h2 {
                width: 100%;
            }
        }
        .statistics-container {
            margin: 0;
            padding: 0;
        }
    }

    @media screen and (max-width: 800px) {
        .statistic-label {
            text-align: left;
        }
        .statistics-container {
            flex-direction: column;
            gap: 2em;
        }        
    }
}