
.main-nav-section {
    position: fixed;
    display: flex;
    // width: calc(100% - 2*$master-margin);
    width: 100%;
    padding: 2em $master-margin;
    justify-content: space-between;
    align-items: center;
    // margin: 0 $master-margin;

    z-index: 10;

    h1 {
        cursor: pointer;
        font-size: 1.3rem;
        font-weight: 1000;
    }

    .main-nav-links {
        display: flex;
        gap: 1em;
        font-weight: 400;

        span {
            cursor: pointer;

            &::after {
                content: '';
                display: block;
                width: 0;
                height: 1px;
                margin: auto;
                background-color: black;
                transition: $animation-time;
            }
            &:hover::after {
                width: 90%;
            }
            img {
                padding: 2px 5px;
            }
        }

        @media screen and (max-width: 850px) {
            display: none;
        }
    }

    .main-nav-auth {
        a {
            text-decoration: none;
            padding: 1em 2em;
        }
        .sign-in-button {
            color: $black;
            transition: background-color $animation-time;
            &:hover {
                background-color: $gray;
            }
        }
        .start-free-button {
            color: $white;
            background-color: $cta-blue;
            transition: background-color $animation-time;

            &:hover {
                background-color: $cta-blue-selected;
            }
        }

        @media screen and (max-width:450px) {
            a {
                padding: 0.5em;
            }
        }
    }
}

