
.cta-section {
    color: $white;
    text-align: center;
    margin: 0 $master-margin;
    padding: 5em $secondary-padding-x;
    border-radius: 2em;
    position: relative;
    overflow: hidden;
    @include doodle-setup();
    
    h2 {
        font-size: 50px;
    }
    button {
        background: $orange;
        color: $white;
        border: none;
        font-size: 16px;
        height: 4em;
        padding: 0 3em;
        margin-top: 20px;
        border-radius: 0.75em;
        animation: $animation-time;
        cursor: pointer;

        &:hover {
            background-color: $orange-focus;
        }
    }

    .doodle {
        background-color: $cta-blue;
        .zig-zag-horizontal {
            right: 15%;
            top: 10%;
        }
        .zig-zag-vertical {
            transform: rotateZ(90deg);
            left: 6%;
            bottom: 20%;
        }
        .dot-grid {
            left: 20%;
            top: 10%;
        }
        .quarter-circle-small {
            left: 20%;
            bottom: 15%;
        }
        .quarter-circle-large {
            right: 8%;
            bottom: 10%;
        }
    }
}