
.features-section {
    padding: $section-gap $master-margin;
    @include doodle-setup();

    > p {
        margin: 1.2em 0 $sub-section-gap;
    }

    .feature-wrapper {
        display: flex;
        gap: 1.5em;
        margin: 30px 0;
        
        .feature-sub-section {
            flex: 1;
        }

        .feature-card {
            background-color: $white;
            padding: 3em $secondary-padding-x;
            border-radius: 5px;
            display: flex;
            gap: 1em;
            flex-direction: column;
            @include hover-expand();

            img {
                width: 50px;
            }
        }
        
        .feature-no-img {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 1.5em;
        }
    }

    .doodle {
        background-color: $torquoise;

        .hyphen-pattern {
            left: 0;
            bottom: 10%;
        }
    }
}